<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401504900993-kdi5ea95bo7ufqkgbiqg4ql2k2ni7f1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401504900993-kdi5ea95bo7ufqkgbiqg4ql2k2ni7f1b</string>
	<key>API_KEY</key>
	<string>AIzaSyBDrCVg_QaW69lmIADKuFs25HSlIWzgBN8</string>
	<key>GCM_SENDER_ID</key>
	<string>401504900993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourdomain.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-sumit-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-sumit-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401504900993:ios:1e3bf9a82add88135e7a80</string>
</dict>
</plist>